@import './../../Common/colours.scss';

.bar-chart {
    width: 100%;
    text-align: center;
    &__svg {
        width:100px;
        height:20px;
        padding-top: 7px;
        
        &__background {
            fill: $grey;
            height: 10px;
        }
        &__live-data { 
            fill: $secondary; 
            height: 10px;
        }
    }
}

.bar-chart.no-progress .bar-chart__svg__live-data {
    opacity: 0;
}

.bar-chart__svg__background {
    opacity: 0.3;
}

.bar-chart__svg__live-data {
    transition: all 0.6s cubic-bezier(0.58, 0.16, 0.5, 1.14);
    transition-delay: 0.3s;
}
