.bar-chart {
    width: 100%;
    text-align: center;
    &__svg {
        width:100px;
        height:20px;
        
        &__background {
            fill: #000;
            height: 10px;
        }
        &__live-data { 
            fill: #bdc0cf;
            height: 10px;
        }
    }
}