@import './../../Common/colours.scss';

.bar-chart {
    width: 100%;
    text-align: center;
    &__svg {
        width:100px;
        height:20px;
        padding-top: 7px;
        
        &__background {
            fill: $grey;
            height: 10px;
        }
        &__live-data { 
            fill: $secondary; 
            height: 10px;
        }
    }
}