
@import './../../Common/colours.scss';

.weapon-list {
    &__title {
        margin: 20px;
        text-align: center;
    }

    &__information {
        display: grid;
        grid-template-columns: 300px 1fr 300px;
    }
}
