.weapon-list {
    &__title {
        margin: 20px;

        &--h1 {
            text-align: center;
            font-size: 48px;
        }
    }
    &__information {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}

.weapon-list-filters {
    &__list {
        display: grid;
        margin-bottom: 20px;
    }

    &__list-item {
        list-style-type: none;
        color: #8f94a5;
        font-size: 21px;
        line-height: 30px;
        cursor: pointer;

        &:hover {
            color: #fff;
        }

        &__active {
            color: #b33834;
            font-size: 28px;
            padding: 10px 0;
        }
    }
}

.weapon-list-filters-dropdown {
    &__title {
        margin-bottom: 20px;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
    }
}