@import './../colours.scss';

.heading {
    margin: 20px 0 100px;
    text-align: center;

    @media only screen and (max-width: 1100px) { 
        margin: 20px 0 60px;
    }

    &__h1 {
        font-size: 48px;
        color: $secondary;
    }
    &__h2 {
        font-size: 42px;
        font-weight: normal;
        color: $secondary;
    }
    &__h3 {
        font-weight: normal;
        font-size: 30px;
        color: $secondary;
    }
}