
@import '../../../Common/colours.scss';


.weapon-list-filters {
    @media only screen and (max-width: 1100px) { 
        grid-row: 2;
    }

    @media only screen and (max-width: 700px) { 
        grid-row: 1;
    }

    &__mobile-btn-wrapper {
        display: none;

        @media only screen and (max-width: 700px) { 
            display: grid;
            text-align: center;
            grid-gap: 10px;
        }
    }

    &__show {
        display: grid!important;
    }

    &__list {
        @media only screen and (max-width: 700px) { 
            display: none;
            position: absolute;
            width: 200px;
            background: black;
            padding: 10px;
            z-index: 1;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    
    &__list-image {
        width: 300px;

        @media only screen and (max-width: 700px) { 
            display: none;
        }
    }
    &__list-item-container {
        background: transparent;
        border: none;
        text-align: center;
        cursor: pointer;

        @media only screen and (max-width: 700px) { 
            text-align: left;
        }
    }

    &__list-item {
        color: #fff;
        @media only screen and (max-width: 700px) { 
            color: #8f94a5;
            font-size: 16px;
            line-height: 30px;
            cursor: pointer;
        }

        &__active{
            background: transparent;
            border: none;
            color: #b33834;
            padding: 10px 0;
            cursor: default;
            font-size: 18px;
            font-weight: bold;
        }
    }
}