
@import '../../../Common/colours.scss';


.weapon-list-filters {
    @media only screen and (max-width: 1100px) { 
        grid-row: 2;
    }

    @media only screen and (max-width: 700px) { 
        grid-row: 1;
    }

    &__mobile-btn-wrapper {
        display: none;

        @media only screen and (max-width: 700px) { 
            display: grid;
            text-align: center;
            grid-gap: 10px;
        }
    }

    &__show {
        display: grid!important;
    }

    &__list {
        @media only screen and (max-width: 700px) { 
            display: none;
            position: absolute;
            width: 200px;
            background: #ffffff;
            border: 1px solid $grey;
            padding: 10px;
            z-index: 1;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    
    &__list-image {
        width: 300px;

        @media only screen and (max-width: 700px) { 
            display: none;
        }
    }

    &__list-item-container {
        margin: 20px;
        text-align: center;
        cursor: pointer;
        animation: fadein 0.5s;

        @media only screen and (max-width: 700px) { 
            text-align: left;
            margin: 0;
        }

        &:first-child {
            margin-top: 0px;
        }

        &__inside {
            padding-bottom: 10px;
            width: 90%;
            border: 1px dotted #43655a;

            @media only screen and (max-width: 1250px) {
                width: 100%; 
            }

            @media only screen and (max-width: 1100px) { 
                text-align: center;
                display: grid;
                width: 100%;
            }

            @media only screen and (max-width: 700px) { 
                display: initial;
                border: none;
            }
        }
    }

    &__list-item {
        color: $primary;
        font-size: 20px;

        @media only screen and (max-width: 1100px) { 
            padding: 10px 0;
        }

        @media only screen and (max-width: 700px) { 
            padding: 0;
            color: #8f94a5;
            font-size: 16px;
            line-height: 30px;
            cursor: pointer;
        }

        &__active {
            color: $secondary;
            cursor: default;
            font-weight: bold;
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
