.legend-details {
    &__abilities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 10px;

        &__container {
            background-color: #0000004f;
            padding: 10px 10px 0 10px;
        }
    }

    &__character-image {
        display: flex;
        justify-content: flex-end;
    }

    &__description {
        padding: 10px;
        font-size: 12px;
        line-height: 24px;

        p p {
            margin-bottom: 10px;
        }
    }

    &__features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    &__headings {
        background: #0000004f;
        padding: 20px 0 50px 0;
        margin-bottom: 20px;

        &__function {
            margin-bottom: 10px;
            font-size: 30px;   
            text-align: center;   
        }

        &__legend-name {
            margin-bottom: 10px;
            font-size: 40px;
            text-align: center;
        }  
    } 
}

.ability {
    &__list-item {
        list-style-type: none;
        font-weight: bold;
        margin: 10px 0;
        font-size: 14px;

        &--span {
            font-weight: normal;
            font-size: 12px;
        }
    }
}