.legend-details {
    &__abilities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    &__description {
        margin-bottom: 10px;
        font-size: 12px;

        p p {
            margin-bottom: 10px;
        }
    }

    &__function {
        margin-bottom: 10px;
    }

    &__name {
        margin-bottom: 10px;
    }   
}

.ability {
    &__list-item {
        list-style-type: none;
        font-weight: bold;
        margin: 10px 0;

        &--span {
            font-weight: normal;
            font-size: 12px;
        }
    }
}