.legend-list-container {
    padding: 20px 10%;
    animation: gradientBG 20s ease infinite;
}

.legend-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 10px;
    
    &__name {
        text-transform: uppercase;
        background: #ffffff;
        padding: 2px 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    &--button {
        background: transparent;
        border: 2px solid #ffffff;
        margin: 5px;
        height: 100px;
        position: relative;
        width: 90px;
        outline-color: transparent;

        &__Bangalore {
            background-image: url(Images/Bangalore.png);
            background-size: 358%;
            background-position: 211px 276px;

            &--active {
                box-shadow: 0px 0px 3px 6px #0000004f;
            }
        }
        &__Bloodhound {
            background-image: url(Images/Bloodhound.png);
            background-size: 358%;
            background-position: 197px 281px;

            &--active {
                box-shadow: 0px 0px 3px 6px #0000004f;
            }
        }
        &__Caustic {
            background-image: url(Images/Caustic.png);
            background-size: 358%;
            background-position: 178px 290px;

            &--active {
                box-shadow: 0px 0px 3px 6px #0000004f;
            }
        }
        &__Gibraltar {
            background-image: url(Images/Gibraltar.png);
            background-size: 358%;
            background-position: 206px 289px;

            &--active {
                box-shadow: 0px 0px 3px 6px #0000004f;
            }
        }
        &__Lifeline {
            background-image: url(Images/Lifeline.png);
            background-size: 358%;
            background-position: 191px 270px;

            &--active {
                box-shadow: 0px 0px 3px 6px #0000004f;
            }
        }
        &__Mirage {
            background-image: url(Images/Mirage.png);
            background-size: 358%;
            background-position: 205px 262px;
        }

        &__Octane {
            background-image: url(Images/Octane.png);
            background-size: 358%;
            background-position: 157px 292px;

            &--active {
                box-shadow: 0px 0px 3px 6px #0000004f;
            }
        }
        &__Pathfinder {
            background-image: url(Images/Pathfinder.png);
            background-size: 358%;
            background-position: 191px 272px;

            &--active {
                box-shadow: 0px 0px 3px 6px #0000004f;
            }
        }  
        &__Wattson {
            background-image: url(Images/Wattson.png);
            background-size: 358%;
            background-position: 175px 293px;

            &--active {
                box-shadow: 0px 0px 3px 6px #0000004f;
            }
        }
        &__Wraith {
            background-image: url(Images/Wraith.png);
            background-size: 358%;
            background-position: 185px 266px;

            &--active {
                box-shadow: 0px 0px 3px 6px #0000004f;
            }
        }
    } 
}

.href-event-location {
    position: absolute;
    top: 0;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Bangalore {
    background: linear-gradient(-45deg, #CF8055, #CF8055, #8E6643, #43443F);
    background-size: 400% 400%;
}

.Bloodhound {
    background: #E43035;
}

.Caustic {
    background: #9BC056;
}

.Gibraltar {
    background: #945C39;
}

.Lifeline {
    background: #A568AB;
}

.Mirage {
    background: #CB983B;
}

.Octane {
    background: #A1CF25;
}

.Pathfinder {
    background: #5E86AA;
}  

.Wattson {
    background: #19408F;
}

.Wraith {
    background: #6349A5;
}
