.accordion {
    position: relative;

    &__button {
        background-color: #f4f4f4;
        color: #444;
        cursor: pointer;
        padding: 18px;
        text-align: left;
        border: none;

        &:hover {
            background-color: #ddd;
        }
    }

    &__heading {
        grid-area: aside;
    }

    &__item {
        display: grid;
        height: 53px;
        grid-template-columns: 200px 80vw;
        grid-template-areas: "aside main"
    }

    &__item + .accordion__item {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__panel {
        grid-area: main;
        top: 0;
        padding: 0 20px;
        position: absolute;
        margin-left: 200px;
        // animation: fadein 0.35s ease-in;
    }
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
