@import './../../../Common/colours.scss';

.weapon-list-data {    
    max-width: 300px;

    @media only screen and (max-width: 1100px) { 
        grid-row: 2;
    }

    @media only screen and (max-width: 700px) { 
        grid-column: span 2;
    }

    &__title-container {
        display: flex;
        margin-bottom: 40px;
        justify-content: space-between;
    }
    &__weapon-image {
        margin-right: 10px;
        max-width: 300px;
    }
    &__radial-graphs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__extra-info {
        margin-top: 10px;
    }

    &__bar-charts-container {
        color: $text-color;
        font-size: 14px;
    }

    &__extra-bar-charts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    &__bar-charts {
        display: grid;
        grid-template-columns: 150px 1fr 1fr;
        align-items: center;

        &__value-container {
            text-align: right;
        }

        &__value {
            color: #fff;
            font-size: 16px;
            font-family: "Teko", sans-serif;
        }
    }
}