.logo {
    display: grid;
    justify-content: start;
    align-content: center;
}

.header { 
    padding: 20px 0 0 40px;
    width: 552px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;

    &__list-item {
        width: 110px;
        cursor: crosshair;
        position: relative;
        background: #24232879;
        line-height: 20px;
        padding: 10px 3px;
        list-style-type: none;        
    
        &:before { 
            content: "";
            position: absolute;
            background: none;
            border-left: 20px solid transparent;
            border-right: 0px solid transparent;
            border-top: 40px solid #24232879;    
            left: -20px;
            top: 0;
            z-index: 1;
        }
    
        &:after { 
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 41px solid #24232879;
            right: -20px;
            top: -1px;
        }
    
        &:hover { 
            cursor: pointer; 
            background: #1f3f69;
    
            &:before { 
                left: -19px;
                border-top-color: #1f3f69;
            }
    
            &:after { 
                right: -19px;
                border-bottom-color: #1f3f69;
            }

            & .header__list-item__link {
                color: #FFF;

                &:before { 
                    border-top-color: #3166ac;
                }

                &:after { 
                    border-bottom-color: #3166ac
                }
            }

            & .lala {
                border-color: #3166ac;
            }
        }   

        &__link {
            display: block; 
            text-decoration: none; 
            color: grey;
            text-transform: uppercase; 
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); 
            text-align: center;
            font-size: 13px;


            &:before { 
                content: "";
                position: absolute;
                border-left: 22px solid transparent;
                border-right: 0px solid transparent;
                border-top: 44px solid #8382836b;    
                left: -19px;
                top: 0;
                z-index: -1;
            }

            &:after { 
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 0px solid transparent;
                border-right: 18px solid transparent;
                border-bottom: 44px solid #8382836b;
                right: -21px;
                top: 0px;
                z-index: -1;
            }
        }
    }
}

.lala {
    position: absolute;
    bottom: -4px;
    border-bottom: 4px solid #8382836b;
    width: 100%;
}
