@import './../Common/colours.scss';

.footer {
    color: $text-color;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    font-size: 12px;
    padding: 25px 0;
    border-top: 2px solid $border-color;
}