$primary-dark: #1d1f27;
$bg-color: #21212a;
$border-color: #434355;
$text-color: #8f94a5;
$title-color: #FFF;
$graph-bg: #16161c;
$graph-color: #bdc0cf;
$primary: #313443;
$secondary: #363848;
$white: #FFF;
$green: #357b35;
$red: #b33834;
$orange: #ef9206;
$gold: #ffc000;
$silver: #d0d0d0;
$bronze: #c47800;