$primary-dark: #1d1f27;
$bg-color: #21212a;
$border-color: #889FA5;
$text-color: #8f94a5;
$title-color: #FFF;
$graph-bg: #43655A;
$graph-color: #bdc0cf;
$grey: #DADDE2;
$primary: #628281;
$secondary: #43655A;
$white: #FFF;
$red: #b33834;