.wrapper {
    max-width: calc(1240px + 6vw);
    padding: 0 5vw;
    margin: 0 auto;
}

.top-offset {
    padding-top: 60px;

    @media only screen and (max-width: 1100px) { 
        padding-top: 50px;
    }
}