@import './components/Common/colours.scss';

body {
  margin: 0;
  color: $text-color;
  font-weight: 300;
  background: #21212a;
  font-family: "Roboto", sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

.button {
  position: relative;
  display: inline-block;
  height: 40px;
  padding: 0 20px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  background: linear-gradient(135deg, #b33834 50%, #cc524e 100%);
  border: 0;
  border-bottom: 1px solid #cc524e;
  color: #FFF;
  -webkit-transition: padding 100ms;
  transition: padding 100ms;
  cursor: pointer;
  will-change: padding;
}

@font-face {
  font-family: 'teko';
  src: local('teko'), url(./fonts/Teko-Regular.ttf) format('opentype');
}

hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: rgba(255,255,255,0.15);
}