
@import './../../../Common/colours.scss';

.weapon-list-extra-info {
    margin: 10px 0;

    &__link {
        color: $text-color;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: $white;
        }
    }

    &__paragraph {
        margin: 10px 0;
    }
}